#saveFile{
    overflow: hidden;
    border-top: 1px solid green;
    margin-bottom: 40px;
}
#saveFile button{
    background: greenyellow;
    border: none;
    padding: 10px;
    float: right;
    border: 1px solid green;
    border-top: none;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    font-size: 16px;
}
#saveFile button:hover{
    background-color: lawngreen;
}